# Python缓存
__pycache__/
*.pyc

# 虚拟环境
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE配置
.vscode/
.idea/

# 日志
*.log

# 模型文件
*.pth
*.pt
*.ckpt
*.cbm
*.pkl
*.npy
checkpoints/
models/
outputs/
catboost_info/

# 系统文件
.DS_Store
Thumbs.db

# ===== 数据集 =====
data/
dataset/
datasets/
raw_data/
processed_data/

*.csv
data/**/*.json
*.jsonl
*.parquet
*.h5
*.npz

# 生成图片
*.png

# 压缩数据
*.zip
*.rar
*.tar
*.gz